QMainWindow {
    background-color: #0F0F0F;
}

QWidget {
    background-color: #0F0F0F;
    color: #F1F1F1;
    font-family: "Helvetica";
    font-size: 15px;
}

QMenuBar {
    background-color: #0F0F0F;
    color: #F1F1F1;
}

QMenuBar::item:selected {
    background-color: #F1F1F1;
    color: #0F0F0F;
}

QMenu {
    background-color: #0F0F0F;
    color: #F1F1F1;
}

QMenu::item:selected {
    background-color: #F1F1F1;
    color: #0F0F0F;
}

QMenu::separator {
    background: #F1F1F1;
    margin: 4px 6px;
}

QStatusBar {
    background-color: #0F0F0F;
    color: #FF6B6B;
}

QTabWidget {
    background: transparent;
    border: none;
}

QTabBar::tab {
    background: transparent;
    color: #F1F1F1;
    padding: 10px 18px;
    border: none;                 
    min-width: 80px;
}

QTabBar::tab:selected {
    background: #272727;
    color: #FFFFFF;
}

QTabWidget::pane {
    border: none;
    background: transparent;
}

QPushButton {
    background-color: #272727;
    color: #F1F1F1;
    border: 2px solid #272727;
    border-radius: 5px;
    padding: 12px 10px;
    font-family: "Helvetica";
    font-size: 16px;
    font-weight: normal;
}

QPushButton:hover {
    background-color: #3F3F3F;
}

QPushButton:pressed {
    background-color: #656565;
    border: 2px solid #656565;
}

QLineEdit {
    background-color: #272727;
    color: #F1F1F1;
    border: 2px solid #272727;
    border-radius: 5px;
    padding: 10px;
    font-family: "Helvetica";
    font-size: 22px;
}

QLineEdit:placeholder {
    color: #FF0000;
}

QComboBox {
    font: 18pt "Helvetica";
    color: #F1F1F1;
    background-color: #272727;
    border: 2px solid #272727;
    border-radius: 6px;
    padding: 6px 30px 6px 10px;
    min-width: 150px;
}

QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 20px;
    border-left: 2px solid #272727;
    background-color: transparent;
}

QGraphicsView {
    background-color: #2B2D30;
    border: 2px solid #272727;
}

QFrame[frameShape="4"] {
    background-color: #2B2D30;
    max-height: 1px;
    border: none;
}

QStatusBar QLabel {
	font-family: "Helvetica";
    color: #F1F1F1;
}

*:focus {
    border: 2px solid #0078d7;
    outline: none;
    }

QGraphicsView:focus {
    border: 2px solid #272727;
}

QListWidget {
    border-radius: 5px;
    background: #272727;
    font-size: 16px;
}

QListWidget::item {
    border-radius: 5px;
    color: #F1F1F1;
    padding: 16px;
    
}

QListWidget::item:hover {
    border-radius: 5px;
    background: #3F3F3F;
}

QListWidget::item:selected {
    border-radius: 5px;
    background: #656565;    
}

QScrollBar:vertical {
    background: #272727;
    width: 14px;
    margin: 1px 0px 1px 4px;
    border-radius: 5px;
}

QScrollBar::handle:vertical {
    background: #656565;
    min-height: 8px;
    border-radius: 5px;
}

QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical {
    background: none;
}

QScrollBar::add-line:vertical,
QScrollBar::sub-line:vertical {
    height: 0px;
    width: 0px;
    background: none;
    border: none;
}

QCheckBox::indicator {
    width: 20px; 
    height: 20px;
    border: 2px solid #555;
    border-radius: 4px;
    background: #fff;
}

QCheckBox {
    spacing: 12px;
    color: #F1F1F1;
    font-family: "Helvetica";
    font-size: 22px;
}

QCheckBox::indicator:checked {
    background: #656565;
    border: 2px solid #656565;
    image: url(:/sendy.ico);
}

QCheckBox::indicator:unchecked {
    background: #272727;
    border: 2px solid #272727;
}